//For scss variables/constants

//Colors
$burnt-orange: #bf4128;
$background-gray: #faf1f0;
$light-gray: #ded8d7;
$dark-gray: #424242;

$rarity-green: #0D9E25;
$rarity-blue: #0F55B4;
$rarity-purple: #9E34EB;
$rarity-orange: #EB7D34;
$rarity-gold: #D6AF13;

//measurements
$footer-height: 1.5rem;
