//variables
@import 'variables';

@import 'items/item-card';
@import 'items/item-list';
@import 'items/single-item';
@import 'admin/';
@import 'components/pagination';
@import 'components/login';
@import 'components/form';

* {
  margin: 0rem;
  font-family: Helvetica;
}

body {
  background: $background-gray;
  min-height: 100vh;
}

nav {
  align-items: center;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 0.2rem;

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

main > div {
  margin: 3rem auto 0 auto;
  max-width: 1080px;
  padding-bottom: $footer-height + 3.5rem;
}

.home {
  margin: 0;
  max-width: none;
}

.icon {
  height: 5rem;
  width: 5rem;
}

.cart {
  filter: invert(1);
  transition: filter 0.25s;

  &:hover {
    filter: invert(0);
  }
}

.navbar {
  text-decoration: none;
  padding: 0 1rem 0 1rem;
  color: white;
  font-size: 1rem;
  transition: font-size 0.25s;

  &:hover {
    color: rgb(233, 104, 44);
    font-size: 1.03rem;
  }
}

.search-container {
  width: 20%;

  button {
    float: right;
    padding: 1rem;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
}

.searchbar {
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.footer {
  font-size: 0.7rem;
  position: fixed;
  height: $footer-height;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  background-color: #333333;
  color: white;
  text-align: center;
}

.home img {
  width: 94.3rem;
}

.user-icon {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
  background-color: #494949;
  border-radius: 10px;
  transition: background-color 0.25s;
  transition: border-radius 0.25s;

  &:hover {
    background-color: rgb(233, 104, 44);
    border-radius: 0px;
  }
}

.user-icon img {
  padding-right: 0.4rem;
  height: 50px;
  width: 50px;
}

.container {
  display: flex;
  border: 0.2rem solid black;
  padding: 1rem;
}

.inner-container {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid black;
  padding: 1rem;
}

.pagelinks {
  text-decoration: none;
  color: red;
}
