#itemList{
  max-width: 1020px;
  margin: 3rem auto 0 auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 2rem;
  padding: 0 1rem;

  .grid-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

#filters {
  background: $light-gray;
  padding: 1rem;
}

.filter-section {
  border-bottom: 1px solid gray;
  padding: 0 0 1rem 0;
  margin: 1rem 0 0 0;

  &:last-child{
    border-bottom: none;
    padding: 0;
  }

  h4 {
    text-transform: uppercase;
    color: gray;
    margin: 0 0 0.5rem 0;
  }
}

.filter-checkbox {
  input {
    margin: 0 0.3rem 0 0;
  }
  &:hover{
    cursor: pointer;
  }
}

.checkbox-container {
  margin: 0 0 0.2rem 0;
}

.remove-filter-buttons {
  display: flex;
  justify-content: flex-start;

  margin: 0 0 10px 0;

  button {
    height: 30px;
    padding: 0 14px;
    background: $light-gray;
    border-radius: 15px;
    margin: 0 0.5rem 0 0;
    border: none;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
